* {
    background-color:#FDE6DB;
    outline: 2px solid red;
    
}
.contenedor { 
}
header {
    padding: 5%;
}
#divInterno {
    margin: 2%;
    padding: 5%;
    background-color: #FFFFFF !important;
    
}
#divInterno > * {
    background-color: #FFFFFF !important;

}
p a  {
    color: black;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
  }
  .social a i:nth-child(1) {
      background-color: #85CDD6;
      color: #FFFFFF;
  }
  .fixed {
      position: fixed;
      width: 30px;
      height: 30px;
      display: block;
  }
  .fixed .btn-circle {
 
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
  .fixed i{
background-color: inherit;     
position: relative;

  }
  footer {
      padding: 7%;
  }